/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

img {
  display: block;
  margin: 0 auto;
  max-height: 200px;
}
h1,
input {
  margin-left: 50px;
}
h2,
h3 {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.carousel {
  position: relative;
  height: 200px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  overflow: hidden; /* Hide the scroll bar */
  position: relative;
  width: 100%; /* Ensure the container takes up the full width */
}

.carousel__track {
  display: flex;
  transition: transform 0.5s ease;
  list-style: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.carousel__slide {
  min-width: 100%; /* Each slide takes up the full width of the container */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -30px;
}

.carousel__button--right {
  right: -50px;
}

.carousel__btn img {
  width: 50px;
}
