/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

img {
  display: block;
  margin: 0 auto;
  max-height: 200px;
}
h1,
input {
  margin-left: 50px;
}
h2,
h3 {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.carousel {
  position: relative;
  height: 200px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  /* background: lightgreen; */
  height: 100%;
  position: relative;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -30px;
}

.carousel__button--right {
  right: -50px;
}

.carousel__btn img {
  width: 50px;
}
